<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/style.error.css">
</head>
<body>
    <div class="scene">
        <div class="box">
            <div class="box__face front">4</div>
            <div class="box__face back">0</div>
            <div class="box__face right">4</div>
            <div class="box__face left">0</div>
            <div class="box__face top">0</div>
            <div class="box__face bottom">0</div>
        </div>
        <div class="shadow"></div>
    </div>
    <div class="desc">
        <h1>Error</h1>
        <p>{{ message }}</p>
        <button><a href="/">Volver al inicio</a></button>
    </div>
</body>
</html>
